<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>footerText</key>
		<string>CA_SETTINGS_VIDEO_PLAYER_DESC</string>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>CA_SETTINGS_DEFAULT_WIFI</string>
				<key>defaultsKey</key>
				<string>CADefaultPlayerQuality</string>
				<key>default</key>
				<string>CA_SETTINGS_AUTO</string>
				<key>allValues</key>
				<array>
					<string>CA_SETTINGS_AUTO</string>
					<string>1440p</string>
					<string>1080p</string>
					<string>720p</string>
					<string>480p</string>
					<string>360p</string>
					<string>240p</string>
					<string>144p</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>CA_SETTINGS_DEFAULT_MOBILE</string>
				<key>defaultsKey</key>
				<string>_CADefaultPlayerQuality</string>
				<key>default</key>
				<string>CA_SETTINGS_AUTO</string>
				<key>allValues</key>
				<array>
					<string>CA_SETTINGS_AUTO</string>
					<string>1440p</string>
					<string>1080p</string>
					<string>720p</string>
					<string>480p</string>
					<string>360p</string>
					<string>240p</string>
					<string>144p</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>CA_SETTINGS_DISABLE_RELATED_VIDEOS</string>
				<key>defaultsKey</key>
				<string>CADisableRelatedVideos</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>CA_SETTINGS_DISABLE_2TAP</string>
				<key>defaultsKey</key>
				<string>CADoubleTapPlayerDisabled</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>CA_SETTINGS_AUTO_REPLAY</string>
				<key>defaultsKey</key>
				<string>CAReplayPlayerEnabled</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>CA_SETTINGS_REWIND_FORWARD</string>
				<key>defaultsKey</key>
				<string>CARewindForwardPlayerEnabled</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
