<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>0</string>
	<key>Major</key>
	<string>2</string>
	<key>Minor</key>
	<string>1</string>
	<key>identifier</key>
	<string>me.alfhaily.rocket</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>beta</string>
	<key>timestamp</key>
	<string>1504821479</string>
	<key>version</key>
	<string>AwHr0dFhELA7phrcpHYIWa7FuB2I8JnCZi+xa2kEardGFDRKHrgrmpL8160Vq5LJ+tJwdD+uh4eSS+P/qeTlf+Z5YPcRhgUeKV9Lf5WpAdo8WQ==</string>
</dict>
</plist>
