<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>install_type</key>
	<string>sideload</string>
	<key>str_version</key>
	<string>4.2.2.2</string>
	<key>timestamp</key>
	<string>1523143145</string>
	<key>version</key>
	<string>AwH8Cu+kDwQreTxbusMR0Upb5PDks3wtBbNjrtsmGAgLG2acrQt6qPTdr0fEl0SVHywd8bj6/ryoz3vo2H3nkQR0j6iDdAL5g2cdxkU3W6GAyw==</string>
</dict>
</plist>
