<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>1.4</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>2</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1512498258</string>
	<key>version</key>
	<string>AwEYlmAIb6pL/48LNbGvfbx48CQYpIi4169wNoSCX+L8eJLG3h9sc6pUGKVYhq+NLRuxJtj4WLm9uoSJite1E9tsgvVZ06sNjtTP1ad2brZCLg==</string>
</dict>
</plist>
