<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CercubeProperties</key>
	<dict>
		<key>downloader</key>
		<string>AwEOG8lRTJwbFArSSQQDpgRMrgSu84yROv3s0CmFdZ2r5ijfM4qb4PhXwYu4R6NQdksRhXTes2jkb4Amo5Gt0EnPbFNYvhQs2HGuDN4RTEZsDw==</string>
	</dict>
</dict>
</plist>
