<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>7</string>
	<key>Major</key>
	<string>2</string>
	<key>Minor</key>
	<string>1</string>
	<key>identifier</key>
	<string>me.alfhaily.rocket</string>
	<key>install_type</key>
	<string>extensify</string>
	<key>tag</key>
	<string>beta</string>
	<key>timestamp</key>
	<string>1514212392</string>
	<key>version</key>
	<string>AwE5bd5Nlg23n9rmhiAnQe2gCSCIWapLvuiqZC33kVjuX8DnmFVcBAsRDQjoq8LlWJ14k1odt6l67hhkH3ILcuiHTWhlyxLxx1AfzxXZo3yV5w==</string>
</dict>
</plist>
