<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>CA_SETTINGS_VERSION</string>
				<key>info</key>
				<string>CA_TWEAK_VERSION</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>CA_SETTINGS_VERSION_APP</string>
				<key>info</key>
				<string>CA_APP_VERSION</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>CA_SETTINGS_BUILD</string>
				<key>info</key>
				<string>CA_BUILD_DATE</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>class</key>
				<string>CASettingsAboutHandler</string>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>CA_CHECK_FOR_UPDATES</string>
				<key>defaultsKey</key>
				<string>CAUpdatesCheckerEnabled</string>
				<key>handler</key>
				<string>didToggleAutoUpdates:</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
