<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>footerText</key>
		<string>CA_CERCUBE_RED_DESCRIPTION</string>
		<key>rows</key>
		<array>
			<dict>
				<key>class</key>
				<string>CASettingsAccountHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_CERCUBE_RED</string>
				<key>icon</key>
				<string>red-icon</string>
				<key>handler</key>
				<string>didTapCercubeRed:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>CA_SETTINGS_NAME</string>
				<key>info</key>
				<string>CA_ACCOUNT_NAME</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>CA_SETTINGS_USERNAME</string>
				<key>info</key>
				<string>CA_ACCOUNT_USERNAME</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>CA_SETTINGS_EMAIL</string>
				<key>info</key>
				<string>CA_ACCOUNT_EMAIL</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>class</key>
				<string>CASettingsAccountHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_REDEEM</string>
				<key>icon</key>
				<string>redeem-icon</string>
				<key>handler</key>
				<string>didTapRedeem:</string>
			</dict>
			<dict>
				<key>class</key>
				<string>CASettingsAccountHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_LINKED_DEVICES</string>
				<key>icon</key>
				<string>linked-devices-icon</string>
				<key>handler</key>
				<string>didTapLinkedDevices:</string>
			</dict>
			<dict>
				<key>class</key>
				<string>CASettingsAccountHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_CHANGE_PW</string>
				<key>icon</key>
				<string>password-icon</string>
				<key>handler</key>
				<string>didTapChangePassword:</string>
			</dict>
			<dict>
				<key>class</key>
				<string>CASettingsAccountHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_LOGOUT</string>
				<key>icon</key>
				<string>exit-icon</string>
				<key>handler</key>
				<string>didTapLogOut:</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
