<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>footerText</key>
		<string>CA_SETTINGS_ENHANCEMENTS_DESC</string>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>CA_SETTINGS_STARTUP_PAGE</string>
				<key>defaultsKey</key>
				<string>CAStartupPage</string>
				<key>default</key>
				<string>CA_SETTINGS_HOME</string>
				<key>allValues</key>
				<array>
					<string>CA_SETTINGS_HOME</string>
					<string>CA_SETTINGS_TREDNING</string>
					<string>CA_SETTINGS_SUBSCRIPTIONS</string>
					<string>CA_SETTINGS_LIBRARY</string>
					<string>CA_SETTINGS_DOWNLOADS</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>🐰 + 🥚 = 😃</string>
				<key>defaultsKey</key>
				<string>CAEasterEggsEnabled</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>CA_SETTINGS_DISABLE_ADBLOCK</string>
				<key>defaultsKey</key>
				<string>CADisableAdBlock</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>CA_SETTINGS_BG_PLAYBACK</string>
				<key>defaultsKey</key>
				<string>CABackgroundPlaybackEnabled</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>CA_SETTINGS_HD_MOBILE</string>
				<key>defaultsKey</key>
				<string>CAHDCellularDataEnabled</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
