<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>title</key>
				<string>DigitalOcean - $10 Credits</string>
				<key>icon</key>
				<string>digitalocean</string>
				<key>url</key>
				<string>https://m.do.co/c/de81026a1d60</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>title</key>
				<string>Airbnb - 30 € Off</string>
				<key>icon</key>
				<string>airbnb</string>
				<key>url</key>
				<string>http://www.airbnb.com/c/majda21</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>title</key>
				<string>Dropbox - 500MB Free</string>
				<key>icon</key>
				<string>dropbox</string>
				<key>url</key>
				<string>https://db.tt/MiNUIQif</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
