<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>me.alfhaily.rocket</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>timestamp</key>
	<string>1591874694</string>
	<key>version</key>
	<string>3.7.3</string>
</dict>
</plist>
