<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>9.5</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>1</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1508519178</string>
	<key>version</key>
	<string>AwEsrYeHXFMXEo5GK8HCbIitSU51/D02ERFfzHUlSBetw0CsehZTrT4MulUgNFZIpWTTYxQlnz6aOLedhjlB6wXWD1bypOwhclPQc9XTlH3VHQ==</string>
</dict>
</plist>
