<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClassName</key>
	<string>IGDirectMutationRequestState</string>
	<key>TableName</key>
	<string>mutations</string>
	<key>ShouldStoreArchive</key>
	<true/>
	<key>Columns</key>
	<array>
		<dict>
			<key>ColumnName</key>
			<string>mutation_id</string>
			<key>PropertyName</key>
			<string>mutationRequest.mutationId</string>
			<key>Type</key>
			<string>TEXT</string>
			<key>Constraints</key>
			<string>UNIQUE NOT NULL</string>
		</dict>
	</array>
</dict>
</plist>
