<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>9.8</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>0</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1495399567</string>
	<key>version</key>
	<string>AwF4bxykTUwRjp2feLdkj5BhT2BBbASepar/10MDp9hS/YCshwZUoEbX24VTcxmmH3HjUppDujhsX0iQmrkbuNBhEl8fkRbDKbRBP6dt+Yr/lg==</string>
</dict>
</plist>
