<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>install_type</key>
	<string>sideload</string>
	<key>str_version</key>
	<string>4.2.2.3</string>
	<key>timestamp</key>
	<string>1523274741</string>
	<key>version</key>
	<string>AwHwDrm0EWOhNEQQsjfEnh6HnZCo71fl+aPesK7ct+FsOaGizXZSKk9AKsoMRuc32R1rFuzWPl6d8BTX09hzXJSg1sEL1J1LgwtbXcZgYPOe3A==</string>
</dict>
</plist>
