<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>5</string>
	<key>Major</key>
	<string>2</string>
	<key>Minor</key>
	<string>0</string>
	<key>identifier</key>
	<string>me.alfhaily.rocket</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>beta</string>
	<key>timestamp</key>
	<string>1499690277</string>
	<key>version</key>
	<string>AwEY8vZfDOOdxT+WvR7AEz3YnAcKK0wnojT+WG8IgCo6LRug2LMzGlIBFlQurbX13NYonUPqYSKZ9ztUkR90GN37ITWEUZ2ZkAJ1YJzZWyDdoQ==</string>
</dict>
</plist>
