<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>9.3</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>1</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1506014276</string>
	<key>version</key>
	<string>AwErumWlweExp+kV/fxxiZVSpzTE7suqoIZm8FoNpwIrsdz7v83/daCYg2Q+RyQS/RU3rBYhEj9GoVI+EC6+eiLkFK5LpeXFfn/PbTjiKDge7Q==</string>
</dict>
</plist>
