<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>9.7</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>0</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>extensify</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1494404624</string>
	<key>version</key>
	<string>AwFzvqmkmM9P155W7L8ru1eO/RTFYFPJBGzwMVbUB+rqNeIIPFA+orAX7knojBs75nuTd9C08EZlZLBVqtkNJZy951ClVKTNdKY5nlxwS8aX6w==</string>
</dict>
</plist>
