<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>9.4</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>1</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1507455675</string>
	<key>version</key>
	<string>AwGhCtoP1bKMQxEKjnI2f6jdSJnLyGZMF6MKpnjfiYt874PZAOD6rj2jX5JUoW+mJF0F+BRh6OKroWXKdnx/fpmD3/StD35B5deTjIG7Cd3b4g==</string>
</dict>
</plist>
