<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>6</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>1</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1501972620</string>
	<key>version</key>
	<string>AwFmBsEKtP2/zcTQj7XZ3sctsvlf3VjJg6TXbMu0Rr22HXysTNgRs3jqEZkUm39Jhp5TKesaD2qJ14iW0LgCYfKeBK/IdSxqJv1ivU8KmepI1g==</string>
</dict>
</plist>
