<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>class</key>
				<string>CASettingsMainHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_MANAGE_ACC</string>
				<key>icon</key>
				<string>downloads-profile-sheet</string>
				<key>handler</key>
				<string>didTapManageAccountCell:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>class</key>
				<string>CASettingsMainHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_DOWNLOADS_TITLE</string>
				<key>icon</key>
				<string>downloads-import-sheet</string>
				<key>handler</key>
				<string>didTapDownloadsCell:</string>
			</dict>
			<dict>
				<key>class</key>
				<string>CASettingsMainHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_VIDEO_PLAYER</string>
				<key>icon</key>
				<string>youtube-sheet</string>
				<key>handler</key>
				<string>didTapVideoPlayerCell:</string>
			</dict>
			<dict>
				<key>class</key>
				<string>CASettingsMainHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_ENHANCEMENTS</string>
				<key>icon</key>
				<string>wand-icon</string>
				<key>handler</key>
				<string>didTapEnhancementsCell:</string>
			</dict>
			<dict>
				<key>class</key>
				<string>CASettingsMainHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_CUSTOMIZATIONS</string>
				<key>icon</key>
				<string>craft-icon</string>
				<key>handler</key>
				<string>didTapCustomizationsCell:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>class</key>
				<string>CASettingsMainHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_CREATORS</string>
				<key>icon</key>
				<string>dev-icon</string>
				<key>handler</key>
				<string>didTapCreatorsCell:</string>
			</dict>
			<dict>
				<key>class</key>
				<string>CASettingsMainHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_SPONSORS</string>
				<key>icon</key>
				<string>sponsors-icon</string>
				<key>handler</key>
				<string>didTapSponsorsCell:</string>
			</dict>
			<dict>
				<key>class</key>
				<string>CASettingsMainHandler</string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_ABOUT</string>
				<key>icon</key>
				<string>about-icon</string>
				<key>handler</key>
				<string>didTapAboutCell:</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
