<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationIdentifier</key>
	<string>MH9GU9K5PX.com.burbn.instagram</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.instagram.apprefresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Instagram</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
				<string>Icon@2x</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Instagram Photo</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.instagram.gram</string>
				<string>public.jpeg</string>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
				<string>Icon@2x</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Instagram Photo Exclusive</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.instagram.exclusivegram</string>
				<string>public.jpeg</string>
				<string>public.png</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Instagram</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Prod60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Prod</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Prod60x60</string>
				<string>Prod76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Prod</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.burbn.instagram</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0.0</string>
	<key>CFBundleName</key>
	<string>Instagram</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>132.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.burbn.instagram</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>instagram-stories</string>
				<string>fb124024574287414</string>
				<string>instagram</string>
				<string>instagram-capture</string>
				<string>fsq+kylm3gjcbtswk4rambrt4uyzq1dqcoc0n2hyjgcvbcbe54rj+post</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>202220138</string>
	<key>DTAppStoreToolsBuild</key>
	<string>11C29</string>
	<key>DTPlatformBuild</key>
	<string>17B102</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>13.2</string>
	<key>DTSDKBuild</key>
	<string>17B102</string>
	<key>DTSDKName</key>
	<string>iphoneos13.2</string>
	<key>DTXcode</key>
	<string>1130</string>
	<key>DTXcodeBuild</key>
	<string>11C505</string>
	<key>FBAppVersion</key>
	<string>132.0.0.18.129</string>
	<key>FBBootstrapperReleaseChannel</key>
	<string></string>
	<key>FBBootstrapperReuseAccessToken</key>
	<true/>
	<key>FBBuildBranchName</key>
	<string>fbobjc/releases/release-igios-2020.03.09</string>
	<key>FBBuildNumber</key>
	<integer>202220138</integer>
	<key>FBBuildRevision</key>
	<string>6ae0b9b8befbc0df48e922b3bd3031731e8acf07</string>
	<key>FBBuildRevisionTime</key>
	<string>1583538296.028800</string>
	<key>FBBuildTime</key>
	<integer>1583541514</integer>
	<key>FBPlatformVersion</key>
	<string>132.0</string>
	<key>FacebookAppID</key>
	<string>124024574287414</string>
	<key>FacebookAutoInitEnabled</key>
	<false/>
	<key>FacebookAutoupdaterAppGroup</key>
	<string></string>
	<key>FacebookDisplayName</key>
	<string>Instagram</string>
	<key>FacebookLoggingAppID</key>
	<string>124024574287414</string>
	<key>FacebookNaggingAppID</key>
	<string>1464225827161561</string>
	<key>FacebookUrlSchemeSuffix</key>
	<string></string>
	<key>IGUserAgentName</key>
	<string>Instagram</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger-share-api</string>
		<string>instacam</string>
		<string>igtv</string>
		<string>fb-parties</string>
		<string>fb</string>
		<string>fbmaster</string>
		<string>fbrc</string>
		<string>hyperlapse</string>
		<string>boomerang</string>
		<string>instagram-layout</string>
		<string>org-appextension-feature-password-management</string>
		<string>fbapi</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fbshareextension</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fb124024574287414master</string>
		<string>fb124024574287414rc</string>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
		<string>googleauthenticator</string>
		<string>duo</string>
		<string>twitter</string>
		<string>tg</string>
		<string>line</string>
		<string>vk</string>
		<string>instagram-threads</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>cdninstagram.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSV1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>help.instagram.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSV1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
			</dict>
			<key>instagram.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSV1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This lets you take photos and record video.</string>
	<key>NSContactsUsageDescription</key>
	<string>This helps you and others find friends and more. Your contacts will be synced and securely stored on Instagram's servers.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This lets you log into Instagram using Apple Face ID.</string>
	<key>NSLocationUsageDescription</key>
	<string>Instagram uses this to make some features work, personalize content, help people find places and more. You can always change this later in your phone’s settings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Instagram uses this to make some features work, personalize content, help people find places and more. You can always change this later in your phone’s settings.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you record videos with sound.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This lets you save photos and videos to your Camera Roll.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This lets you share photos from your library and save photos to your Camera Roll.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.burbn.instagram.main</string>
		<string>com.burbn.instagram.feed.timeline</string>
		<string>com.burbn.instagram.feed.popular</string>
		<string>com.burbn.instagram.post</string>
		<string>com.burbn.instagram.comment</string>
		<string>com.burbn.instagram.likes</string>
		<string>com.burbn.instagram.news</string>
		<string>com.burbn.instagram.profile</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AvenyT_Regular.otf</string>
		<string>AvenyT_Medium.otf</string>
		<string>CosmopolitanScript-Regular.otf</string>
		<string>FBDisplay-Light.ttf</string>
		<string>FBWordmark-Regular.ttf</string>
		<string>FacebookNarrow_A_Rg.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>11.0</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>11.0</string>
			<key>UILaunchImageName</key>
			<string>Default-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>IGLaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Instagram Photo</string>
			<key>UTTypeIdentifier</key>
			<string>com.instagram.gram</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon@2x</string>
			<key>UTTypeSize64IconFile</key>
			<string>Icon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ig</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Instagram Photo Exclusive</string>
			<key>UTTypeIdentifier</key>
			<string>com.instagram.exclusivegram</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon@2x</string>
			<key>UTTypeSize64IconFile</key>
			<string>Icon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>igo</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
