<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>install_type</key>
	<string>sideload</string>
	<key>str_version</key>
	<string>4.2.2.5</string>
	<key>timestamp</key>
	<string>1531341553</string>
	<key>version</key>
	<string>AwE4/v+VnSFzX8JZX46PmelOIPZjgS6wfL+T4MEJdjayLYXR1cymiCitKbNHexWEJYlVpMsIRZ1aXaXICSAMWczD5f9iR1jq7iZDLP7zcX6PbA==</string>
</dict>
</plist>
