<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>9.2</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>1</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1504048850</string>
	<key>version</key>
	<string>AwFmUxAKS77PnGHgMl6Up7mWI6ViqS8x6MPglb/OApA/U2NGptfhsEord0RfKOCReQEsxtcA5dsT980ec9u48rjtOxhwdJH7Kw1z7z5MvMMQ5A==</string>
</dict>
</plist>
