<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>2</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>1</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1498684868</string>
	<key>version</key>
	<string>AwGksuMY7wDl6aMV1m390Ra6LfY9vNvUKnvVn1Pm8BFdxj1Awz9mPOg6oYjbdakiui4za97HGeKX84XiuePhPKnrWdlAX64+M1b+RioOvMEQpA==</string>
</dict>
</plist>
