<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>CA_SETTINGS_WHITE_KB</string>
				<key>defaultsKey</key>
				<string>CAForceWhiteKBENabled</string>
				<key>allValues</key>
				<array>
					<string>CA_SETTINGS_HOME</string>
					<string>CA_SETTINGS_TREDNING</string>
					<string>CA_SETTINGS_SUBSCRIPTIONS</string>
					<string>CA_SETTINGS_LIBRARY</string>
					<string>CA_SETTINGS_DOWNLOADS</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>CA_SETTINGS_CERCUBE_LANGUAGE</string>
				<key>defaultsKey</key>
				<string>CACercubeLang</string>
				<key>default</key>
				<string>CA_SETTINGS_AUTO</string>
				<key>allValues</key>
				<array>
					<string>CA_SETTINGS_AUTO</string>
					<dict>
						<key>title</key>
						<string>English</string>
						<key>value</key>
						<string>en</string>
						<key>icon</key>
						<string>globe-sheet</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Deutsch</string>
						<key>value</key>
						<string>de</string>
						<key>icon</key>
						<string>globe-sheet</string>
					</dict>
					<dict>
						<key>title</key>
						<string>العربية</string>
						<key>value</key>
						<string>ar</string>
						<key>icon</key>
						<string>globe-sheet</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Italiano</string>
						<key>value</key>
						<string>it</string>
						<key>icon</key>
						<string>globe-sheet</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Français</string>
						<key>value</key>
						<string>fr</string>
						<key>icon</key>
						<string>globe-sheet</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>CA_SETTINGS_TABS_ORDER</string>
				<key>class</key>
				<string>CASettingsCustomizationsHandler</string>
				<key>handler</key>
				<string>didTapSortItems:</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
