<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>9.9</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>0</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>sideload</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1496507500</string>
	<key>version</key>
	<string>AwEDtfucCla1boeFvlgR90Wc/H/gDp0Ium7M/nei+4xG4GqMxD2I8uls7TUrLMMn8hM8pJ2D79HJNQLhAd5TiPHMZPkoZ2uwZ0sMPXW8dINneg==</string>
</dict>
</plist>
