<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string>9.6</string>
	<key>Major</key>
	<string>4</string>
	<key>Minor</key>
	<string>0</string>
	<key>identifier</key>
	<string>me.alfhaily.cercube</string>
	<key>install_type</key>
	<string>extensify</string>
	<key>tag</key>
	<string>stable</string>
	<key>timestamp</key>
	<string>1491937480</string>
	<key>version</key>
	<string>AwHoZYBpJyOgY+L90bldOwd7jGWg0PCIxzJBoyA7JjfgJ/pfA3lSPjYKSCHnXvfp+6pE7IblFvWojH4wTEXknMQULg3/SgV0LlJgZccoK47WGw==</string>
</dict>
</plist>
